[project]
	description = my first repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/chandralekhalella
[access "refs/for/refs/*"]
	read = group user/chandralekhalella
	push = group user/chandralekhalella
	label-Code-Review = -2..+2 group user/chandralekhalella
	label-Verified = -1..+1 group user/chandralekhalella
	rebase = group user/chandralekhalella
	removeReviewer = group user/chandralekhalella
	submit = group user/chandralekhalella
[access "refs/heads/*"]
	read = group user/chandralekhalella
	create = group user/chandralekhalella
	push = +force group user/chandralekhalella
	pushMerge = group user/chandralekhalella
[access "refs/tags/*"]
	push = group user/chandralekhalella
	push = +force group user/chandralekhalella
